
@import url('fontawesome.css');

a.iconos {
  text-decoration: none;
  color: #fff;
}

#page {
  padding:0.5em 0em;
}

#content {
  clear: both;
  padding-top: 1em;
}

.nav a {
  color: #fff;
}

.nav, .navmenu {font-size:1.35em;}

/* Important stuff */
ul.navmenu {
  padding: 0;
  width: 100%;
}
ul.navmenu li {
  list-style-type: none;
  display: block;
  float: left;
  background:rgba(0, 0, 0, 0.6);
  margin: 0;
  padding: .5em 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Fixes Firefox bug */
  box-sizing: border-box;
  width: 20%;
  text-align: center;
}
ul.navmenu li:hover {
  background: #888;
}

a.open-panel.iconos, a.close-panel.iconos {
  display: none;
}

@media only screen and (max-width: 55em) {
  #content {
    padding-top: 0;
  }

  /* Move nav off screen, setup transitions */
  .nav {
    width: 70%;
    position: absolute;
    left: -70%;
    top: 0;
    height: 100%;
    background:rgba(0, 0, 0, 0.6);
  }

  /* Display nav items vertically */
  ul.navmenu {
    border-top: 1px solid #888;
    margin-top:1em;
  }
  ul.navmenu li {
    float: none;
    width: 100%;
    text-align: left;
    padding: .5em 1em;
    box-sizing: border-box;
    border-bottom: 1px solid #888;
  }

  /* Reveal open/close buttons */
  a.open-panel.iconos, a.close-panel.iconos {
    display: inline;
  }

  .close-panel {
    position: relative;
    top: 0.5em;
    left: 1em;
  }

  .openNav #page {
    left: 0;
    -webkit-transform: translate3d(70%, 0, 0);
    -moz-transform: translate3d(70%, 0, 0);
    -ms-transform: translate3d(70%, 0, 0);
    -o-transform: translate3d(70%, 0, 0);
    transform: translate3d(70%, 0, 0);
    -webkit-transition: -webkit-transform 500ms ease;
    -moz-transition: -moz-transform 500ms ease;
    -o-transition: -o-transform 500ms ease;
    transition: transform 500ms ease;
  }

  /* When the panel is closed, transition the page back to the left */
  #page {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 500ms ease;
    -moz-transition: -moz-transform 500ms ease;
    -o-transition: -o-transform 500ms ease;
    transition: transform 500ms ease;
  }
}
