/* Estilos de Fernando */

/* estilos carrusel owl, menu y polaroid */
@import url('owl.carousel.css');
@import url('owl.theme.css');
@import url('demo.css');
@import url('component.css');
@import url('normalize.css');
@import url('fontawesome.css');
@import url('pushy.css');
@import url('demo_pushy.css');
@import url('cutegrids.css');


html {font-size:62.5%;}

body {
  background:url('../img/bg2.gif') repeat scroll 0% 0% transparent;
  overflow-x: hidden;
  -webkit-text-size-adjust:none; /* Evita proeblema ios safari */
  -moz-text-size-adjust:none;
  -ms-text-size-adjust:none;
  -webkit-text-size-adjust:100%;
  -moz-text-size-adjust:100%;
  -ms-text-size-adjust:100%;
}

/* Evita scroll x del menu */
h1,h2 {text-align:left;font-size:3em;}
h3,h4 {text-align:left;font-size:2em;margin-bottom: .5em;}
p {font-family: 'Droid Serif', Georgia, serif;font-size:1.5em;line-height: 1.5em;color:white;}

/* fuentes */
@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Serif'), local('DroidSerif'), url(https://fonts.gstatic.com/s/droidserif/v6/0AKsP294HTD-nvJgucYTaLrIa-7acMAeDBVuclsi6Gc.woff) format('woff');
}
@font-face {
  font-family: 'Lobster Two';
  font-style: normal;
  font-weight: 400;
  src: local('Lobster Two'), local('LobsterTwo'), url(https://fonts.gstatic.com/s/lobstertwo/v7/Law3VVulBOoxyKPkrNsAaLrIa-7acMAeDBVuclsi6Gc.woff) format('woff');
}

/* Secciones */
.header { background:url(../img/bg_texture.jpg) repeat center center;
          font-family: "Lobster two",georgia, serif;
          padding: 0 10%;
          box-shadow: 0em 0.5em 1em #000;
          margin-bottom:1em;
          }
.header h1 {color:#000;}
.header  .row div .box {padding: 0em 0;}
.personal-info {font-family: "Lobster two",georgia, serif;color:black;background:url(../img/bg_texture.jpg) repeat center center ;
          box-shadow: 0em 0.5em 1em #000;
          margin-bottom:1em;
          }
.foot {background:pink;font-family: 'Droid Serif', Georgia, serif;}
.showcase{display:inline-block;width:100%;}


/* Posicionamiento */
.center {margin:0 auto;}
.box {text-align: left;color: #fff;padding: 1.5em 0;}


/* Estilos carrusel */

#owl-demo .item {margin:0 5%;background:rgba(0, 0, 0, 0.6);padding:2%;display:inline-block;}
#owl-demo .item img {display:block;width: 100%;height: auto;}

/* estilos carrusel informacion trabajos */

.box p, .box h2 {color:black;}
.item h1, .item h2, .item h3, .item h4 {color:white;margin-top:1em;}
.cont_feat{margin-bottom:1.5em;float:left;}


  .link_visit { color:#97e3fc; font-size:bold; float:right;text-decoration:none; padding:0.2em;text-transform:uppercase;}
  .link_visit:hover { color:#fff;  }
 
  .tag { box-shadow:0 0.1em #333;padding:0.2em 1em ;font-size:1em;-moz-border-radius:0.2em;-webkit-border-radius:0.2em; text-transform:uppercase; margin:0.1 0.5 0.1em;line-height:1.5em; }
      .blue { background:#97e3fc;  color:#3d7d95; padding:0.5em 0.2em;}
      .blanc { background:#fff; color:#666;padding:0.5em 0.2em;}
      .green { background:#c2e111;  color:#515e04; padding:0.5em 0.2em;}
      .pink { background:#b86e81;  color:#fedfe7;padding:0.5em 0.2em;}
      .brown{ background:#a1886d; color:#f2d9be;padding:0.5em 0.2em;}
      .yellow{ background:#FF0; color:#515e04;padding:0.5em 0.2em;}
      .violet{ background:#969; color:#fff;padding:0.5em 0.2em;}
      .grey{ background:#999; color:#fff;padding:0.5em 0.2em;}
      .darkblue{ background:#00C; color:#fff;padding:0.5em 0.2em;}


/* estilos polaroid */
.photostack img {max-width: 100%;}

/* Ajustes media queries moviles */

@media screen and (orientation : portrait) { 
.header h1 {font-size:2em;}

   @media screen and (device-aspect-ratio: 40/71) and (orientation : portrait) { 
  .photostack-img {width: 60% !important;height: auto !important;}
  .photostack figure {padding:10px 0 !important;left: 1%;width:80% !important;}
  .photostack figcaption h2 {margin: 20px 0px 0px;text-align: center;} 
   }

}



@media screen and (device-aspect-ratio: 40/71) and (orientation : landscape) { 
 

 }  

/*.owl-theme .owl-controls .owl-buttons div {
    color: #fff;
    display: inline-block;
    zoom: 1;
    *: ;
    display: inline;
    margin: 5px;
    padding: 8px 10px;
    font-size: 12px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;

    border: 1px solid white;} 
    */


.owl-theme .owl-controls .owl-buttons div {
    color: #fff;
    display: inline-block;
    zoom: 1;
    *: ;
    display: inline;
    margin: 5px;
    padding: 3px 10px;
    font-size: 12px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    border: 1px solid #fff;
    background: transparent;
}



.owl-theme .owl-controls.clickable .owl-buttons div:hover {
    text-decoration: none;
    background: rgba(248, 78, 11, 1);
    cursor:pointer;
}

.owl-theme .owl-controls {
    margin: 20px 0;

}

.owl-pagination {
    display:none;
}

h2 {
    margin-bottom:10px;
}
